<template>
    <div>
        <div v-if="get_companies_selected_slug" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ get_company_name }}</h5>
                <h6 class="card-subtitle mb-4 text-muted"><a :href="'mailto:' + get_company_email">{{ get_company_email }}</a></h6>
                <p class="card-text">Number of required cargo bays {{ get_cargo_bays }}
                </p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Cargo Boxes</label>
                                <input  ref="cargos" @keydown="handleKeydown" @keyup="handleKeyup" v-model="form.cargos" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small v-if="isInvalidCharacters" class="text-danger">Invalid unit characters</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!get_companies_selected_slug && get_companies.length" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Oops!</h1>
                <p class="lead">Select item from the list to display details.</p>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "CompanyDetailsComponent",
        data() {
            return {
                form: new Form({
                    cargos: ''
                }),
                cargo_bays: 0,
                isInvalidCharacters: false,
                allowedChar: ['1','2','3','4','5','6','7','8','9','0',
                    'Shift','Meta','Alt','Backspace','ArrowLeft','ArrowRight',',','.']
            }
        },
        mounted() {
            setTimeout(() => {
                this.form.cargos = this.$store.getters.get_companies_cargo_units;
            }, 200);
        },
        watch: {
            $route(to) {
                this.init_shipment_cargo();
            }
        },
        computed: {
            get_companies: function() {
                return this.$store.getters.get_companies;
            },
            get_companies_selected_slug: function() {
                return this.$store.getters.get_companies_selected_slug;
            },
            get_cargo_bays: function() {
                return this.$store.getters.get_companies_cargo_bays;
            },
            get_cargo_units: function() {
                return this.$store.getters.get_companies_cargo_units;
            },
            get_company_name: function() {
                return this.get_companies_selected_slug.name;
            },
            get_company_email: function() {
                return this.get_companies_selected_slug.email;
            }
        },
        methods: {
            init_shipment_cargo: function() {
                let company = this.$store.getters.get_companies_selected_slug;
                let cargos = company.shipments.cargos;
                this.join_cargos(cargos);
            },
            join_cargos: function(cargos) {

                let units = cargos.map((v, i) => { return v.unit; });

                this.form.cargos = units;

            },
            handleKeydown: function(evt) {

                if(!this.allowedChar.includes(evt.key)) {
                    this.isInvalidCharacters = true;
                    evt.preventDefault();
                }

                this.isInvalidCharacters = false;

                return true;
            },
            handleKeyup: function(evt) {

                if(!this.allowedChar.includes(evt.key)) {
                    this.isInvalidCharacters = true;
                    evt.preventDefault();
                }

                let cargos_array = this.form.cargos.split(',').filter(item => item !== "");
                let cargo_bay = Math.ceil(cargos_array.length / 2);

                this.$store.commit('set_companies_cargo_units', this.form.cargos.split(','));
                this.$store.commit('set_companies_cargo_bays', cargo_bay);
            }
        }
    }
</script>
