<template>
    <div v-if="get_companies.length" class="list-group mb-3">
        <div class="companies-list">
            <router-link :key="company.id" v-for="company in get_companies"
                         class="list-group-item list-group-item-action"
                         :to="company.slug">{{ company.name }}</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CompanyListComponent",
        computed: {
            get_companies: function() {
                return this.$store.getters.get_companies;
            }
        }
    }
</script>
