<template>
    <div>
        <progress-bar-component></progress-bar-component>
        <navigation-component></navigation-component>
        <main-content-component></main-content-component>
    </div>
</template>

<script>
    export default {
        name: "AppComponent",
        mounted() {
            this.init_companies();
            this.init_companies_next_url();
            this.init_companies_is_maxed();
            this.init_companies_selected(this.$route)
        },
        watch: {
            $route(to) {
                this.init_companies_selected(to);
            }
        },
        methods: {
            init_companies: function() {
                let _companies = JSON.parse(localStorage.getItem('companies'));
                if(_companies === null) return;
                this.$store.commit('set_companies',_companies);
            },
            init_companies_next_url: function() {
                let _companies_next_url = (localStorage.getItem('companies_next_url') == null) ? '/api/companies' : localStorage.getItem('companies_next_url');
                this.$store.commit('set_companies_next_url',_companies_next_url);
            },
            init_companies_is_maxed: function() {
                let _companies_next_url = localStorage.getItem('companies_is_maxed');
                this.$store.commit('set_companies_paginate_maxed',_companies_next_url);
            },
            init_companies_selected: function(to) {

                this.$store.commit('set_companies_selected_slug', to.params.id);
                this.$store.commit('set_companies_selected_cargos', '');

                let company = this.$store.getters.get_companies_selected_slug;

                if(company === undefined) return;

                let cargos = company.shipments.cargos;
                let cargos_count = (cargos.length) ? cargos.length : 0;

                this.$store.commit('set_companies_cargo_units', cargos);
                this.$store.commit('set_companies_cargo_bays', Math.ceil((cargos_count / 2)));

                this.join_cargos(cargos)
            },
            join_cargos: function(cargos) {
                let units = cargos.map((v, i) => { return v.unit; });

                this.$store.commit('set_companies_cargo_units', units);
            },

        }
    }
</script>
