<template>
    <form class="form-inline my-2 my-lg-0 form-search">
        <div style="position: relative;">
            <input v-model="form.search" @keyup="handleInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div style="position: absolute; z-index: 9999">
                <div class="list-group" v-if="get_companies_filtered">
                    <router-link :key="company.id" v-for="company in get_companies_filtered"
                                 class="list-group-item list-group-item-action p-2"
                                 @click.native="handleClick"
                                 :to="company.slug">{{ company.name }}</router-link>
                </div>
            </div>
        </div>
        <load-data-component></load-data-component>
        <save-data-component></save-data-component>
    </form>
</template>

<script>
    import SaveDataComponent from './common/SaveDataComponent';
    export default {
        name: "SearchComponent",
        components: {SaveDataComponent},
        data() {
            return {
                form: new Form({
                    search: ''
                }),
                listGroup: false,
                filtered_list: []
            }
        },
        methods: {
            handleInput: function(evt) {

                if(this.form.search == '') {
                    this.filtered_list = [];
                    return;
                }

                let filtered = this.get_companies.filter((item) => {
                    return item.name.toUpperCase().startsWith(this.form.search.toUpperCase());
                });

                this.filtered_list = filtered
            },
            handleClick: function(evt) {
                console.log(evt);
                this.filtered_list = [];
                this.form.search = evt.target.innerText;
            }
        },
        computed: {
            get_companies: function() {
                return this.$store.getters.get_companies;
            },
            get_companies_filtered: function() {
                return this.filtered_list;
            }
        }
    }
</script>
