<template>
    <div></div>
</template>

<script>
    export default {
        name: "InitComponent",
        mounted() {
            this.init_companies();
            this.init_companies_next_url();
        },
        watch: {
            $route(to) {
                this.$store.commit('set_companies_selected_slug', to.params.id);
            }
        },
        methods: {
            init_companies: function() {
                let _companies = JSON.parse(localStorage.getItem('companies'));
                this.$store.commit('set_companies',_companies);
            },
            init_companies_next_url: function() {
                let _companies_next_url = localStorage.getItem('companies_next_url');
                this.$store.commit('set_companies_next_url',_companies_next_url);
            },
        }
    }
</script>
