<template>
    <button @click="handleClick" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="button">Load</button>
</template>

<script>
    export default {
        name: "LoadDataComponent",
        methods: {
            handleClick: function() {
                
                if(this.$store.getters.get_companies_paginate_maxed == true ||
                    this.$store.getters.get_companies_paginate_maxed == "true") {

                    this.$swal.fire(
                        'Hey!',
                        'All data are loaded already.',
                        'warning'
                    );

                    return;
                }

               let next_uri = this.$store.getters.get_companies_next_url;

               let uri = (next_uri) ? next_uri : '/api/companies';

               this.$store.commit('set_system_progress',
                    !this.$store.getters.get_system_progress);

               axios.get(uri)
                   .then(({data}) => {

                       let _data = data.result.companies;
                       if(_data.next_page_url === null) {
                           this.$store.commit('set_companies_paginate_maxed', true);
                       }

                       setTimeout(() => {
                           this.$store.commit('set_system_progress',
                               !this.$store.getters.get_system_progress);

                           this.$store.commit('set_companies_next_url',
                               _data.next_page_url);

                           this.$store.commit('set_companies',
                               _data.data);
                       }, 1000);

                   });
            }
        }
    }
</script>
