<template>
    <main class="py-4">
        <div class="container">
            <no-data-component></no-data-component>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <company-list-component></company-list-component>
                </div>
                <div class="col-lg-8">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        name: "MainContentComponent"
    }
</script>
