<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand">
                Cargo Planner
            </a>
            <search-component></search-component>
        </div>
    </nav>
</template>

<script>
    import SearchComponent from '../SearchComponent';
    export default {
        name: "NavigationComponent",
        components: {SearchComponent}
    }
</script>
