<template>
    <div class="row" v-if="get_companies.length < 1">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Hi, There!</h5>
                    <p class="card-text">To update the list click the load button.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NoDataComponent",
        computed: {
            get_companies: function() {
                return this.$store.getters.get_companies;
            }
        }
    }
</script>
