<template>
    <nav v-if="get_system_progress" class="p-3 bg-primary text-center text-white">
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "ProgressBarComponent",
        computed: {
            get_system_progress: function () {
                return this.$store.getters.get_system_progress;
            }
        }
    }
</script>
