<template>
    <button @click="handleClick" class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="button">Save</button>
</template>

<script>
    export default {
        name: "SaveDataComponent",
        computed: {
            get_companies_selected_slug: function() {
                return this.$store.getters.get_companies_selected_slug
            },
            get_companies_cargo_units: function() {
                return this.$store.getters.get_companies_cargo_units
            },

        },
        methods: {
            handleClick: function() {
                console.log(this.verify_digit());
                // Verify digit is 10 or less.
                if(!this.verify_digit()) {
                    this.$swal.fire(
                        '',
                        'Maximum cargo unit is 10.',
                        'warning'
                    );
                    return
                }

                if(this.is_cargo_changed()) {

                    this.$store.commit('set_system_progress',
                        !this.$store.getters.get_system_progress);

                    this.update_cargo_units()

                    setTimeout(() => {
                        this.$store.commit('set_system_progress',
                            !this.$store.getters.get_system_progress);
                    }, 1000);

                } else {

                    this.$swal.fire(
                        '',
                        'No, changes is made.',
                        'warning'
                    );

                }



            },
            join_cargos: function(cargos) {
                let _cargos = cargos.map((v, i) => { return v.unit; });
                return _cargos.join(',');
            },
            is_cargo_changed: function() {

                let company = this.get_companies_selected_slug;
                let cargos = company.shipments.cargos;
                let string_cargo = this.join_cargos(cargos);
                let string_cargo_units = this.get_companies_cargo_units.join(',')

                if(string_cargo !== string_cargo_units) {
                    return true;
                }

                return false;
            },
            update_cargo_units: function() {

                let _cargo_units = this.get_companies_cargo_units;

                let _company = this.get_companies_selected_slug;

                let _new_data = _cargo_units.map(i => {
                    return {id: '', unit: i}
                });

                _company.shipments.cargos = _new_data;

                this.$store.commit('set_companies_cargo_updates',_company);
            },
            verify_digit: function() {

                let _cargo_units = this.get_companies_cargo_units;

                for (let i = 0; i < _cargo_units.length; i++) {
                    console.log(_cargo_units[i]);
                    if(_cargo_units[i] > 10) return false;
                }

                return true;
            }
        }
    }
</script>
